button.go-to-words,
button.go-to-file {
    display: block;
    margin: 4rem auto 0;
}

.page#download-key-file.show-download .hide-for-download {
    display: none;
}

.page#download-key-file:not(.show-download) .download-key-file {
    display: none;
}

.page#download-key-file .download-icon {
    align-self: center;
}

.page#download-key-file .walletfile,
.page#download-key-file .arrow-down {
    display: block;
    margin: auto;
}

.page#download-key-file .walletfile {
    width: 9rem;
    height: 11.75rem;
    width: 100%;
}

.page#download-key-file .arrow-down {
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
    margin-top: 1rem;
}

.page#privacy.key-active .hide-if-key-active {
    display: none;
}

.page#privacy:not(.key-active) .page-footer button:not(.submit) {
    display: none;
}

.page#validate-words,
.page#recovery-words {
    background: radial-gradient(420.00px at 100% 100%, #260133 0%, #1F2348 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.111158);
    color: white;
    border-radius: 8px;
    padding-bottom: 0rem;
}

.page#recovery-words .recovery-words {
    margin: 0;
}

.page#recovery-words p {
    text-align: center;
}

.page#recovery-words .recovery-words,
.words-container {
    display: flex;
    flex-grow: 1;
}

.page#recovery-words .page-body {
    display: flex;
    flex-direction: column;
}

.words-container input {
    height:100%;
}

.page#validate-words .validate-words .word-list {
    margin: 0;
}

.page-footer {
    padding: 1rem;
}


